<h1>Coordinates Lookup</h1>


  <form>
    <div>
      <label for="street_1" >Street One</label>
      <input name="street_one" type="text" id="street_1">
    </div>

    <div>
      <label for="street_2">Street Two</label>
      <input name="street_two" type="text" id="street_2">
    </div>

    <div>
      <input type="submit" value="Get Coordinates">
      or <a href="index.html">Cancel</a>
    </div>
  </form>




<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>
